<p style="color: green"><%= notice %></p>

<h1 class="title">Libros</h1>

<div class="book-card">
  <% @books.each do |book| %>
    <%= render(BookCardComponent.new(book: book)) %>
    <p>
      <%= link_to "Muestra este libro", book %>
    </p>
  <% end %>
</div>

<%= link_to "Nueva reseña", new_book_path %>
<%= render 'new_review' %>